<md-content flex="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2 md-margin md-padding" layout="column">
    <h2>
        <span translate>user.title</span>
    </h2>
    <form name="userForm" novalidate ng-submit="userForm.$dirty && userForm.$valid && userController.update(userForm)" layout="column" flex>
        <md-content flex layout="column">
            <section layout="column" layout-gt-xs="row">
                <md-input-container flex>
                    <label translate>user.firstName.label</label>
                    <input type="text" ng-model="userController.user.firstName" name="firstName" ng-required="true" autofocus />
                    <div ng-messages="userForm.firstName.$error">
                        <div ng-message="required" translate>user.firstName.errors.required</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label translate>user.lastName.label</label>
                    <input type="text" ng-model="userController.user.lastName" name="lastName" ng-required="true" autofocus />
                    <div ng-messages="userForm.lastName.$error">
                        <div ng-message="required" translate>user.lastName.errors.required</div>
                    </div>
                </md-input-container>
            </section>
            <md-input-container>
                <label translate>user.password.label</label>
                <input type="password" ng-model="userController.user.password" name="password" ng-required="!!userController.passwordMatch"/>
                <div ng-messages="userForm.password.$error">
                    <div ng-message="required" translate>user.password.errors.required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label translate>user.passwordMatch.label</label>
                <input type="password" ng-model="userController.passwordMatch" name="passwordMatch" ng-required="!!userController.password" match="userController.user.password"/>
                <div ng-messages="userForm.passwordMatch.$error">
                    <div ng-message="required" translate>user.passwordMatch.errors.required</div>
                    <div ng-message="match" translate>user.passwordMatch.errors.match</div>
                </div>
            </md-input-container>
            <div>
                <md-input-container>
                    <label translate>user.locale.label</label>
                    <md-select ng-model="userController.user.locale">
                        <md-option ng-value="locale" ng-repeat="locale in userController.locales">{{ 'locale.' + locale | translate }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <last-update model="userController.user"></last-update>
        </md-content>
        <md-input-container layout="row">
            <span flex></span>
            <md-button type="submit"
                       class="md-primary md-raised md-hue-1"
                       ng-disabled="userForm.$pristine || !userForm.$valid"
                       aria-label="{{ 'user.submit' | translate }}">
                <span translate>user.submit</span>
            </md-button>
            <md-button class="md-raised"
                       aria-label="{{ 'user.cancel' | translate }}"
                       ui-sref="home()">
                <span translate>user.cancel</span>
            </md-button>
        </md-input-container>
    </form>
</md-content>
