<md-content layout-padding>
    <h2>
        <span translate>user.title</span>
    </h2>
    <form name="userForm" novalidate ng-submit="userForm.$valid && userController.updateUser()">
        <md-input-container class="md-block">
            <label translate>user.username.label</label>
            <input type="text" ng-model="userController.user.username" name="username" ng-required="true" autofocus />
            <div ng-messages="userForm.username.$error">
                <div ng-message="required" translate>user.username.errors.required</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate>user.password.label</label>
            <input type="password" ng-model="userController.user.password" name="password" ng-required="true"/>
            <div ng-messages="userForm.password.$error">
                <div ng-message="required" translate>user.password.errors.required</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate>user.passwordMatch.label</label>
            <input type="password" ng-model="userController.passwordMatch" name="passwordMatch" ng-required="true" match="userController.user.password"/>
            <div ng-messages="userForm.passwordMatch.$error">
                <div ng-message="required" translate>user.passwordMatch.errors.required</div>
                <div ng-message="match" translate>user.passwordMatch.errors.match</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-button type="submit" class="md-raised md-primary" aria-label="{{ 'user.submit' | translate }}">
                <span translate>user.submit</span>
            </md-button>
        </md-input-container>
    </form>
</md-content>
