<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-left" md-open="false" ng-cloak>
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
            <md-icon>language</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="{{ 'locale.en' | translate }}" class="md-fab md-raised md-mini" ng-click="$ctrl.switchToLocale('en')">
            <md-icon md-svg-src="img/icons/locale-en.svg" aria-label="{{ 'locale.en' | translate }}"></md-icon>
        </md-button>
        <md-button aria-label="{{ 'locale.fr' | translate }}" class="md-fab md-raised md-mini" ng-click="$ctrl.switchToLocale('fr')">
            <md-icon md-svg-src="img/icons/locale-fr.svg" aria-label="{{ 'locale.fr' | translate }}"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
