<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-left" md-open="false" ng-cloak>
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
            <md-icon>language</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="{{ localeName }}" class="md-fab md-raised md-mini" ng-repeat="(localeKey, localeName) in $ctrl.locales" ng-click="$ctrl.switchToLocale(localeKey)">
            <md-icon md-svg-src="img/icons/locale-{{ localeKey }}.svg" aria-label="{{ localeName }}"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
